---
import Layout from '../../layouts/Layout.astro';
import posts from '../../../data/posts.json';
---

<Layout title="Blog" description="Artículos recientes">
  <h1 class="blog-title">Blog</h1>
  <ul class="blog-list">
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.slug}/`} class="blog-link">
          {post.title}
        </a>
        <span class="blog-date">{post.date}</span>
      </li>
    ))}
  </ul>
</Layout>
