---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import LinkedinIcon from '../icons/LinkedinIcon.astro';
import GithubIcon from '../icons/GithubIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../icons/MailIcon.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Guillermo Ferres | Desarrollador Web Front-end en Granada"
        description="Desarrollador web front-end con 3.5 años de experiencia en Granada, España. Especializado en Vue y Nuxt, con amplia experiencia en AWS y Git. Aplicaciones creadas con Astro y estilos con CSS y Tailwind; tests realizados con Vite. Apasionado por la ciencia ficción, la lectura, el diseño y la robótica. Disponible para proyectos colaborativos de calidad.">
    <main>   
        <SectionContainer>
		<img class="hero-img" src="https://media.licdn.com/dms/image/C5603AQGVMk-1UhYeiA/profile-displayphoto-shrink_400_400/0/1630324161757?e=2147483647&v=beta&t=DzO_AWls4WQW9ohYz8Ejshc1sawZx_h4EqklDYCuZ7U" alt="Fotografía de Guillermo Ferres, desarrollador web especializado en Vue y Nuxt">
		<section>
			<h1 class="hero-title">
                                <span>Hola, soy Guillermo</span>
                                <a href="https://es.linkedin.com/in/guillermo-ferres-s%C3%A1nchez-9653501a3"
                                   target="_blank"
                                   rel="noopener"
                                   class="flex justify-center items-center">
                                        <Badge customClass="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Disponible</Badge>
                                </a>
                        </h1>
                        <h2 class="hero-subtitle">Desarrollador web front-end con más de 3 años de experiencia.</h2>
                        <ul class="social-list">
                                <li>
                                        <SocialPill href="https://es.linkedin.com/in/guillermo-ferres-s%C3%A1nchez-9653501a3">
                                                <LinkedinIcon class="icon-small"></LinkedinIcon>
                                                LinkedIn
                                        </SocialPill>
                                </li>
                                <li>
                                        <SocialPill href="https://github.com/GuilleFerres">
                                                <GithubIcon class="icon-small"></GithubIcon>
                                                Github
                                        </SocialPill>
                                </li>
                                <li>
                                        <SocialPill href="mailto:guillermoferressanchez@gmail.com">
                                                <MailIcon class="icon-small"></MailIcon>
                                                guillermoferressanchez@gmail.com
                                        </SocialPill>
                                </li>
                        </ul>
		</section>
        </SectionContainer>    
	<SectionContainer>
		<Experience></Experience>
	</SectionContainer>
   </main>
</Layout>
