---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
import SocialPill from '../components/SocialPill.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full py-44 mx-auto lg:w-[740px]">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-8">
				<span>Hola, soy Guillermo</span> 
				<a href="https://es.linkedin.com/in/guillermo-ferres-s%C3%A1nchez-9653501a3"
				   target="_blank"
				   rel="noopener"
				   class="flex justify-center items-center">
				   <Badge customClass="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-2xl opacity-80 text-wrap">2 años de experiencia. Desarrollador Web Front-end. De Granada, España.</h2>
			<ul class="my-4 flex gap-x-2">
				<li>
					<SocialPill href="https://es.linkedin.com/in/guillermo-ferres-s%C3%A1nchez-9653501a3">
						<Linkedin class="w-6 h-6"></Linkedin>
						LinkedIn
					</SocialPill>
				</li>
				<li>
					<SocialPill href="https://github.com/GuilleFerres">
						<Github class="w-6 h-6"></Github>
						Github
					</SocialPill>
				</li>
			</ul>
		</section>
		
	</main>
</Layout>
