---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        title: "Desarrollador Front-end - Wegow",
        description: "Desarrollo, creación y mantenimiento de la aplicación web de Wegow utilizando Vue 3, SCSS y JavaScript. Además, se realizaron mejoras en la performance, SEO y accesibilidad del sitio mediante el uso correcto de la sintaxis de HTML, cargas diferidas de scripts y actualización de propiedades de imágenes, incluyendo formatos y tamaños adecuados, y etiquetado correcto.",
        link: "",
        date: "mayo de 2022 - actualidad.",
        actual: true,
    },
    {
        title: "Desarrollador Front-end - Beebit",
        description: "Participación en el desarrollo y creación de diversas aplicaciones utilizando Angular, SCSS, Sass, HTML y JavaScript",
        link: "",
        date: "diciembre de 2022 - actualidad.",
        actual: true,
    },
    {
        title: "Prácticas como Desarrollador Front-end - iMarina",
        description: "Participación en el desarrollo de la aplicación web iMarina utilizando jQuery, CSS, HTML y JavaScript. Además, se ofreció un nuevo diseño para su página web principal.",
        link: "",
        date: "marzo de 2021 - junio de 2022",
        actual: false,
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">                           
    {
        EXPERIENCE.map((experience)=> (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience}></ExperienceItem>
            </li>
        ))
    }
</ol>

