---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
    {
        title: "Desarrollador web Front-end en Wegow",
        description: `Durante estos tres años en Wegow he desempeñado el rol de desarrollador Frontend, participando en la         evolución y mantenimiento de la plataforma utilizando tecnologías como Vue 2, Vue 3, Nuxt 2 y Nuxt 3.
                      He colaborado activamente en la optimización del SEO, integrando y configurando correctamente metadatos como Open Graph, Twitter Cards, y otras herramientas clave para mejorar la visibilidad en buscadores y redes sociales. También he trabajado en la mejora del rendimiento web, afinando tanto el tiempo de carga como la experiencia de usuario.
                      En el ámbito de la infraestructura, he estado en contacto con herramientas como AWS y Docker para tareas relacionadas con el despliegue y la configuración de entornos.
                      Además, he participado en la implementación de funcionalidades críticas como colas virtuales, procesos de compra, e integración de píxeles de seguimiento (Facebook, TikTok y Twitter), ayudando a optimizar campañas publicitarias y la conversión de usuarios.    
                      Otro aspecto destacado de mi trabajo ha sido la gestión del consentimiento de cookies, adaptando la plataforma a los cambios recientes en la normativa de privacidad.    
                      También he liderado el desarrollo del Magazine de Wegow, incluyendo el tratamiento e integración de contenido publicitario mediante plataformas como Smartclip.     
                      Finalmente, en el ámbito del testing, he introducido e implementado Playwright como herramienta principal para pruebas automáticas, mejorando la fiabilidad y cobertura del código.`,
        link: "https://www.wegow.com/",
        date: "26-05-2021/actualidad",
        latest: true,
    },
    {
        title: "Desarrollador web Front-end en Beebit",
        description: `Durante mi etapa en Beebit trabajé como desarrollador frontend especializado en la creación de aplicaciones web usando Angular 14.

        Formé parte de un equipo centrado en el desarrollo de interfaces modernas, escalables y mantenibles, haciendo uso de herramientas y librerías como NgRx para el manejo del estado, RxJS para la programación reactiva, y PrimeNG para acelerar el desarrollo de componentes visuales.
            
        Además, colaboré en la automatización de pruebas end-to-end mediante Cypress, asegurando la calidad y estabilidad del producto. También utilicé Docker como parte de los entornos de desarrollo y despliegue, lo que facilitó la integración continua y la colaboración entre equipos.
            
        Mi trabajo estuvo siempre enfocado en crear experiencias de usuario fluidas y eficientes, cuidando tanto la lógica como la presentación de cada proyecto.`,
        link: "https://beebit.es/",
        date: "09-12-2021/17-06-2024",
        latest: true,
    },
    {
        title: "Practicas como Desarrollador web Front-end en iMarina",
        description: `Durante mis prácticas en iMarina comencé a desarrollar mi carrera como frontend trabajando con tecnologías como JavaScript, jQuery, HTML y CSS.

        Colaboré en el mantenimiento y desarrollo de interfaces web, aprendiendo a adaptar diseños a distintos dispositivos y navegadores, y trabajando con código legado para implementar nuevas funcionalidades o mejorar la experiencia de usuario.

        Esta etapa fue clave para afianzar mis conocimientos en desarrollo web, metodologías de trabajo en equipo y buenas prácticas de código limpio, sentando las bases para mi evolución como desarrollador.`,
        link: "https://scimarina.com/",
        date: "06-03-2021/21-06-2021",
        latest: false,
    }
]
---
<h2 class="h2-titles">Mi experiencia</h2>
<ol class="timeline">
    {
        EXPERIENCE.map((experience)=> (
            <li class="timeline-item">
                <ExperienceItem {...experience}></ExperienceItem>
            </li>
        ))
    }
</ol>

