<header class="flex justify-center items-center py-3 px-6 w-[1000px]">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#experience">Experiencia</a>
        <a href="#about-me">Sobre mi</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>